.account__form {
    h2 {
        padding-top: 3.2rem;
    }
    .account {
        padding-top: 2.2rem;
        display: flex;
        &__form_title {
            font-size: 18px;
            text-transform: uppercase;
            font-family: $Relawey;
            color: #232323;
            font-weight: 600;
        }
        &__btn {
            margin-top: 1.3rem;
            align-items: center;
            display: flex;
            .btn_grey {
                padding-left: 1.6rem;
                padding-right: 1.6rem;
                font-size: 12px;
                font-family: $Relawey;
                font-weight: bold;
                text-transform: uppercase;
            }
        }
        &__end {
            a {
                color: #222222;
                &:hover {
                    color: #808080;
                }
            }
            margin-bottom: 9.5rem;
            padding-top: 1.3rem;
            font-size: 14px;
            color: #222222;
            font-family: $Roboto;
            font-weight: 700;
        }
        &__form_one {
            margin-bottom: 1.5rem;
        }
        &__form {
            .subtitle__input_one {
                padding-top: 1.7rem;
                font-size: 14px;
                font-family: $Roboto;
                color: #808080;
                font-weight: 300;
                span {
                    color: #fc6666;
                }
            }
        }
        .form_one {
            .form-control {
                height: 2.8rem;
                width: 100%;
                &:focus {
                    box-shadow: 0 0 0 0.2rem rgba(232, 236, 240, 0.25);
                    border: 1px solid #ced4da;
                }
            }
        }
        .form_two {
            .form-control {
                height: 2.8rem;
                width: 100%;
                &:focus {
                    box-shadow: 0 0 0 0.2rem rgba(232, 236, 240, 0.25);
                    border: 1px solid #ced4da;
                }
            }
        }
        .subtitle__input {
            margin-bottom: 0.4rem;
            font-size: 14px;
            font-family: $Roboto;
            color: #808080;
            font-weight: 300;
            span {
                color: #fc6666;
            }
        }
    }
}

//общее
.subtitle__input_one {
    padding-top: 1.7rem;
    font-size: 14px;
    font-family: $Roboto;
    color: #808080;
    font-weight: 300;
    span {
        color: #fc6666;
    }
}

.account__check {
    padding-left: 1rem;
    padding-top: 0.4rem;
    color: #777777;
    font-size: 14px;
    font-family: $Relawey;
    font-weight: 300;
    input {
        &:focus {
            outline: none;
            background-color: red;
        }
    }
}

.modal {
    .modal-header {
        color: #3485b1;
        text-align: center;
        text-transform: uppercase;
    }
    .modal-body {
        font-family: $Roboto;
        color: #808080;
        font-size: 17px;
        font-weight: 300;
    }
    .btn-secondary {
        background-color: #fc6666;
        &:active:focus {
            box-shadow: none;
        }
    }
    .btn-primary {
        border: none;
        &:hover,
        &:active,
        &:active:focus {
            background-color: #ffd200;
            border: none;
            box-shadow: none;
        }
        &:focus {
            box-shadow: none;
            background-color: #ffd200;
        }
    }
}