    .main__content {
        margin-bottom: 3.6rem;
        padding-top: 1.1rem;
        .grouped_start {
            border-bottom: 1px solid #e8e8e8;
            padding-bottom: 0.7rem;
            display: flex;
            justify-content: space-between;
            &__breadcrumbs {
                .breadcrumb {
                    margin-top: 0.2rem;
                    background-color: #ffffff;
                    @media(max-width: 350px) {
                        margin-top: 0.4rem;
                    }
                    .breadcrumb-item {
                        font-size: 12px;
                        text-transform: uppercase;
                        font-family: $Relawey;
                        font-weight: 600;
                        @media(max-width: 350px) {
                            font-size: 10px;
                        }
                        a {
                            color: #444444;
                        }
                        &.active {
                            color: #929292;
                            font-weight: 600;
                        }
                    }
                }
            }
        }
        .grouped_start_slider {
            .flickity-fullscreen-button-view {
                // display: block;
                bottom: 29px;
                top: inherit;
                width: 26px;
                height: 26px;
                border-radius: 42px;
                background: #ffffff;
                right: 21px;
                border: 1px solid #e9e9e9;
            }
            .flickity-fullscreen-button-exit {
                right: 24px;
                top: 30px;
                width: 26px;
                height: 26px;
                border-radius: 42px;
                background: #ffffff;
                bottom: 31px;
                border: 1px solid #e9e9e9;
            }
            .col__slider {
                margin-top: 2.2rem;
                @media(min-width: 992px) {
                    padding-right: 0;
                }
                .grouped-cell {
                    width: 100%;
                    height: 594px;
                    margin-right: 6px;
                    border: 1px solid #e8e8e8;
                    img {
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                    }
                }
                /* cell number */
                .slider-nav {
                    margin-top: 1.1rem;
                    .grouped-cell {
                        height: 136px;
                        margin-right: 1rem;
                        width: 23%;
                    }
                    img {
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                    }
                }
            }
            .col_inform {
                padding-left: 3rem;
                margin-top: 46px;
                @media(max-width: 350px) {
                    padding-right: 4rem;
                }
            }
            h1 {
                font-size: 30px;
                font-family: $Relawey;
                color: #232323;
                font-weight: 600;
                line-height: 1;
            }
            .customers_review {
                padding-bottom: 0;
                display: flex;
                align-items: center;
                margin: auto;
                &_star {
                    margin-right: 0.8rem;
                }
                &_text {
                    color: #808080;
                    font-size: 13px;
                }
            }
            .customers_number {
                font-weight: 600;
                font-size: 20px;
                color: #222222;
            }
            .customers_characteristic {
                margin-top: 1rem;
                line-height: 1.6rem;
                font-size: 14px;
                color: #989898;
                font-family: $Relawey;
                font-weight: 600;
            }
            .customers_listing {
                margin-top: 1rem;
                border: 1px solid #e8e8e8;
                width: 355px;
                background-color: #fdfdfd;
                @media(max-width: 500px) {
                    width: 267px;
                }
                @media(max-width: 350px) {
                    width: auto;
                }
                ul {
                    padding-left: 1.8rem;
                    padding-top: 1rem;
                }
                li {
                    position: relative;
                    list-style-type: none;
                }
                li:before {
                    content: "";
                    background-color: #408de4;
                    height: 5px;
                    width: 5px;
                    border-radius: 100px;
                    position: absolute;
                    left: -10px;
                    overflow: hidden;
                    top: 8px;
                }
                .grey {
                    font-size: 14px;
                    color: #777777;
                    font-family: $Roboto;
                    span {
                        color: #222222;
                    }
                }
            }
            .green {
                font-size: 14px;
                color: #8ca57d;
                font-family: $Roboto;
            }
            .article__main {
                margin-top: 1.2rem;
                margin-bottom: 1.2rem;
                display: flex;
                align-items: center;
                input {
                    border-radius: 0;
                    display: block;
                    width: 54px;
                    // height: calc(2.3rem + 0.75rem + 2px);
                }
                &__name {
                    margin-right: 2.8rem;
                    font-size: 14px;
                    font-family: $Relawey;
                    color: #444444;
                }
                &__price {
                    font-size: 15px;
                    color: #3f3f3f;
                    font-weight: bold;
                }
                &__btn {
                    margin-right: 1.5rem;
                    display: flex;
                    background-color: #ffffff;
                    font-size: 10px;
                    input {
                        height: auto;
                        width: 54px;
                        text-align: center;
                    }
                    .btn__article {
                        flex-direction: column;
                        display: flex;
                        .btn__plus {
                            border: 1px solid #ced4da;
                            background-color: #ffffff;
                            i {
                                padding-top: 0.4rem;
                                padding-bottom: 0.4rem;
                                color: #999999;
                            }
                        }
                        .btn__minus {
                            border: 1px solid #ced4da;
                            background-color: #ffffff;
                            i {
                                padding-top: 0.3rem;
                                padding-bottom: 0.4rem;
                                color: #999999;
                            }
                        }
                    }
                }
            }
            .card__btn {
                padding-bottom: 2.3rem;
                border-bottom: 1px solid #e5e5e5;
                display: flex;
                .more__btn {
                    display: flex;
                    &_heard {
                        border-right: none;
                        border: 1px solid #e5e5e5;
                        background-color: #ffffff;
                        i {
                            padding: 0.9rem 0.7rem;
                        }
                    }
                    &_arrow {
                        border: 1px solid #e5e5e5;
                        background-color: #ffffff;
                        i {
                            padding: 0.8rem 0.8rem;
                        }
                    }
                }
                .card__btn_black {
                    margin-right: 1rem;
                    .btn_black {
                        border: none;
                        display: flex;
                        align-items: center;
                        height: 48px;
                        color: #ffffff;
                        font-size: 12px;
                        text-transform: uppercase;
                        font-size: $Roboto;
                        font-weight: bold;
                        background-color: #222222;
                        &_img {
                            border-left: 1px solid #424242;
                            padding-left: 0.9rem;
                            padding-right: 0.9rem;
                            height: 100%;
                            display: flex;
                            align-items: center;
                        }
                        &_text {
                            padding-right: 2.8rem;
                            margin-left: 0.9rem;
                            @media(max-width: 350px) {
                                padding-top: 3rem;
                                padding-bottom: 3rem;
                                display: flex;
                                font-size: 9px;
                            }
                        }
                    }
                }
            }
            .category {
                margin-top: 0.9rem;
                line-height: 1.7rem;
                padding-bottom: 1.2rem;
                border-bottom: 1px solid #e5e5e5;
                &__name {
                    font-weight: 500;
                    font-family: $Roboto;
                    font-size: 13px;
                    color: #272727;
                    span {
                        color: #797979;
                    }
                }
            }
        }
        .pluso__main {
            display: flex;
            align-items: center;
            margin-top: 1.2rem;
            &__text {
                margin-right: 0.6rem;
                font-family: $Roboto;
                font-size: 14px;
                color: #222222;
                font-weight: 500;
            }
        }
    }
    
    .description__list {
        position: relative;
        border-right: 1px solid #e8e8e8;
        border-top: 1px solid #e8e8e8;
        margin-top: 3.8rem;
        display: flex;
        justify-items: center;
        @media(max-width: 767px) {
            display: block;
        }
        a {
            position: relative;
            &::before {
                opacity: 0;
                background: #ff6289;
                height: 100%;
                width: 3px;
                position: absolute;
                left: 0;
                top: 0;
                content: "";
            }
            &.active {
                &::before {
                    opacity: 1;
                }
            }
        }
        &_text {
            margin-bottom: 0.1rem;
            border-bottom: 1px solid #e8e8e8;
            width: 100%;
            padding: 1.8rem 2rem 1.4rem;
            border-left: 1px solid #e8e8e8;
            .comment__main {
                padding-top: 1.7rem;
                .comment__img_main {
                    display: flex;
                }
                &_data {
                    padding: 1.4rem 1.3rem 1.5rem 1.3rem;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    margin-left: 1.6rem;
                    border: 1px solid #eeeeee;
                    .data_star {
                        display: flex;
                        justify-content: space-between;
                        font-family: $Relawey;
                        font-size: 14px;
                        font-weight: bold;
                        color: #222222;
                        @media(max-width: 350px) {
                            flex-direction: column;
                        }
                        span {
                            color: #999999;
                        }
                    }
                }
                img {
                    width: 50px;
                    height: 50px;
                    object-fit: cover;
                    border-radius: 30px;
                }
            }
            .text_star {
                margin-top: 0.6rem;
                font-size: 14px;
                font-family: $Roboto;
                color: #929292;
            }
        }
        &_main {
            background-color: #ffffff;
            color: #313131;
            font-family: $Relawey;
            font-weight: bold;
            text-transform: uppercase;
            flex: 0 0 24.5%;
        }
        .list-group {
            border-radius: 0em;
            margin-right: -1px;
        }
        .list-group-item.active {
            background-color: #ffffff;
            color: #313131;
            font-family: $Relawey;
            font-weight: bold;
            text-transform: uppercase;
            border-color: #e8e8e8;
            // border-left: 4px solid #408de4;
        }
        .list-group-item {
            border-top-width: 0;
        }
        #list-home-list {
            border-top: none;
        }
    }
    
    .list__title {
        font-size: 18px;
        color: #222222;
        font-family: $Relawey;
        text-transform: uppercase;
        font-weight: bold;
    }
    
    .description__list__text {
        line-height: 1.9;
        margin-top: 0.8rem;
        font-size: 13px;
        color: #777777;
        font-family: $Roboto;
        font-weight: 300;
    }
    
    .input__review {
        margin-top: 2.9rem;
        .form {
            margin-top: 0.3rem;
        }
        &_subtitle {
            font-size: 15px;
            font-weight: 300;
            font-family: $Roboto;
            color: #808080;
        }
        .item__rating {
            margin-bottom: 1.4rem;
            margin-top: 1.9rem;
            display: flex;
            font-size: 14px;
            font-weight: 300;
            font-family: $Roboto;
            color: #808080;
            ;
            .rating__star {
                color: #555555;
                font-size: 12px;
                margin-left: 5rem;
                @media(max-width: 350px) {
                    margin-left: 4rem;
                }
            }
        }
        .rating__input {
            display: flex;
            .rating__text {
                font-size: 14px;
                font-weight: 300;
                font-family: $Roboto;
                color: #b5b5b5;
                span {
                    color: #fd7676;
                }
            }
        }
        .form-group {
            margin-top: 1.2rem;
            // margin-top: 1.54rem;
            // margin-bottom: 4rem;
            display: flex;
            .form__group_item {
                margin-top: 0.8rem;
                display: flex;
                flex: 0 0 19%;
                @media(max-width: 991px) {
                    margin-right: 1rem;
                }
                @media(max-width: 350px) {
                    flex: 0 0 40%;
                }
                &_review {
                    margin-top: 0;
                }
                label {
                    span {
                        right: -9px;
                        top: 2px;
                    }
                }
            }
        }
    }
    
    .input_btn {
        width: 100%;
        .btn__form {
            margin-top: 1.5rem;
        }
    }
    
    .information__main {
        margin-left: 1rem;
        .information__name_main {
            padding-bottom: 0.7rem;
            padding-top: 0.7rem;
            border-bottom: 1px solid #ececec;
            display: flex;
            &_end {
                border-bottom: none;
            }
            .information__name {
                flex: 0 0 22%;
                font-family: $Roboto;
                font-size: 14px;
                color: #505050;
                font-weight: 600;
                @media(max-width: 500px) {
                    flex: 0 0 50%;
                }
            }
            .information__value {
                color: #9b9b9b;
                font-family: $Roboto;
                font-size: 14px;
                @media(max-width: 500px) {
                    flex: 0 0 50%;
                }
            }
        }
    }
    
    .icons__star {
        .fa-star {
            font-size: 10px;
            color: #f8c848;
            &_grey {
                color: #cccccc;
            }
        }
    }
    
    .btn__form {
        margin-top: 1.8rem;
        font-size: 12px;
        text-transform: uppercase;
        font-size: $Roboto;
        color: #ffffff;
        font-weight: bold;
        background-color: #222222;
        padding: 0.8rem 1.8rem;
    }
    
    textarea {
        resize: none;
        &.form-control {
            height: 7.2rem;
        }
    }
    
    .grouped_start__button {
        display: flex;
        .start__btn {
            justify-content: center;
            margin-right: 0.3rem;
            width: 1.7rem;
            height: 1.7rem;
            display: flex;
            font-size: 11px;
            align-items: center;
            background-color: #ffffff;
            border: 1px solid #e3e3e3;
            i {
                color: #c0c0c0;
            }
        }
    }