    .header_small {
        padding-top: 26px;
        padding-bottom: 26px;
        @media(min-width: 992px) {
            display: none;
        }
        .header__search__title {
            @media(max-width: 767px) {
                display: none;
            }
        }
        #header_info {
            .header__search_main {
                width: 100%;
                margin-left: 0;
            }
            .header__search__input {
                flex-grow: 1;
                padding-bottom: 3px;
            }
            .header__search__btn {
                flex: 0 0 50px;
            }
            .tel__small {
                display: flex;
                justify-content: center;
                padding: 34px 0;
                span {
                    padding-right: 10px;
                    color: black;
                    text-transform: uppercase;
                    font-size: 12px;
                    font-weight: bold;
                }
                .tel_number {
                    padding-top: 1px;
                    padding-bottom: 1px;
                    padding-left: 5px;
                    padding-right: 5px;
                    margin-left: 2px;
                    color: black;
                    font-size: 12px;
                    font-family: "Roboto", sans-serif;
                    background-color: #ffd200;
                }
            }
        }
    }
    
    .col_small {
        display: flex;
        justify-content: flex-end;
        .btn {
            padding-top: 11px;
            padding-left: 11px;
            padding-right: 11px;
            padding-bottom: 11px;
            background-color: #ffd200;
        }
        .round_small {
            margin-right: 1rem;
            background-color: #ffd200;
            border-radius: 40px;
            height: 41px;
            width: 41px;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 2px solid #ffd200;
            &:focus {
                outline: none;
                box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5);
            }
            &:active {
                background-color: #545b62;
                border-color: #4e555b;
            }
            .icon_small {
                text-align: center;
                position: absolute;
            }
        }
    }
    
    #collapseMenu {
        .menu_small {
            margin-top: 1rem;
            background-color: #408de4;
            .col__list {
                display: flex;
                justify-content: center;
                .text_small {
                    width: 100%;
                    padding-top: 1rem;
                    padding-bottom: 1rem;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    .collaps_small {
                        .btn-primary {
                            display: flex;
                            justify-content: space-between;
                            width: 100%;
                            background-color: #ffd200;
                            span {
                                color: black;
                                font-size: 14px;
                                font-family: "Roboto", sans-serif;
                                text-transform: uppercase;
                                font-weight: 500;
                            }
                            .fa-chevron-down {
                                color: black;
                            }
                        }
                        .header__menu__icons {
                            padding-left: 0;
                            display: flex;
                            justify-content: unset;
                            align-items: center;
                            width: 210px;
                        }
                        .card {
                            &-body {
                                display: flex;
                                align-items: center;
                            }
                        }
                    }
                }
                .list_small {
                    line-height: 3rem;
                    color: white;
                    text-transform: uppercase;
                    font-size: 12px;
                    font-family: "Raleway", sans-serif;
                    font-weight: bold;
                    text-align: center;
                }
            }
        }
    }