.people {
    &__text {
        text-align: center;
        padding-top: 70px;
        line-height: 34px;
    }
    h2 {
        font-size: 24px;
        font-weight: bold;
        color: #222222;
    }
    &__subtitle {
        font-size: 16px;
        font-weight: 500;
        font-family: $Relawey;
        color: #b5b5b5;
    }
}

.avtor__col {
    padding-top: 41px;
    @media(max-width: 991px) {
        padding-top: 65px;
    }
    .img_people {
        @media(max-width: 991px) {
            width: 100%;
        }
        @media(max-width: 1199px) and (min-width: 992px) {
            width: 100%;
        }
    }
    .name_main {
        border: 1px solid #eeeeee;
        border-top: none;
        padding-top: 23px;
        display: flex;
        margin: auto;
        flex-direction: column;
        text-align: center;
        .name_avtor {
            font-size: 14px;
            font-weight: 500;
            font-family: $Roboto;
            text-transform: uppercase;
            color: #222222;
        }
        .subname {
            font-size: 14px;
            font-weight: 300;
            font-family: $Roboto;
            color: #b5b5b5;
        }
        .avtor_icon {
            font-size: 20px;
            margin-bottom: 23px;
            line-height: 52px;
            color: #b5b5b5;
        }
    }
}