.related_main {
    margin-bottom: 6rem;
    .carousel {
        border: 1px solid #e8e8e8;
    }
    .related__product_title {
        display: flex;
        justify-content: space-between;
        .related_title {
            margin-bottom: 1.7rem;
            text-transform: uppercase;
            color: #222222;
            font-size: 20px;
            font-family: $Relawey;
            font-weight: bold;
        }
    }
    .slider__item {
        position: absolute;
        left: 0%;
        border-right: 1px solid #e8e8e8;
        width: 20%;
        @media(max-width: 767px) {
            width: 50%;
        }
        @media(max-width: 350px) {
            width: 100%
        }
        .item_img {
            position: relative;
            .slider__item_img {
                width: 100%;
                height: 187px;
                padding: 1rem 2rem;
                object-fit: cover;
                @media(max-width: 991px) {
                    padding: 1rem 1rem;
                }
            }
            .item_img_sale {
                border-radius: 0.2rem;
                background-color: #ea5c5c;
                color: #fef4f4;
                font-family: $Roboto;
                font-size: 12px;
                position: absolute;
                left: 0;
                top: 0;
                margin-top: 12.5px;
                margin-left: 25.5px;
                &_new {
                    background-color: #ffb128;
                }
                span {
                    padding: 0rem 0.5rem;
                }
            }
        }
        .slider__text {
            text-align: center;
            &__stamp {
                margin-top: 3.8rem;
                color: #222222;
                font-size: 14px;
                font-family: $Roboto;
            }
            .customers_review_star {
                padding-bottom: 1rem;
            }
        }
        &__price {
            color: #222222;
            font-size: 14px;
            font-family: $Roboto;
        }
    }
}

.carousel-cell {
    // width: 28%;
    border-radius: 5px;
    // counter-increment: carousel-cell;
}

.customers_review {
    padding-bottom: 1rem;
}