.related_main {
    margin-bottom: 6rem;
    .carousel {
        border: 1px solid #e8e8e8;
    }
    .related__product_title {
        display: flex;
        justify-content: space-between;
        .related_title {
            margin-bottom: 1.7rem;
            text-transform: uppercase;
            color: #222222;
            font-size: 20px;
            font-family: $Relawey;
            font-weight: bold;
        }
    }
    .slider__item {
        position: absolute;
        left: 0%;
        border-right: 1px solid #e8e8e8;
        width: 20%;
        @media(max-width: 767px) {
            width: 50%;
        }
        @media(max-width: 350px) {
            width: 100%
        }
        .item_img {
            position: relative;
            @media(max-width: 991px) {
                width: 100%;
            }
            .slider__item_img {
                height: 187px;
                padding: 2rem 2rem;
                object-fit: cover;
                // @media(max-width: 991px) {
                //     padding: 1rem 1rem;
                // }
                @media(max-width: 991px) {
                    width: 100%;
                    height: 136px;
                    object-fit: cover;
                    padding: 2rem 2rem;
                }
                @media(max-width: 767px) {
                    width: 100%;
                    height: 136px;
                    object-fit: cover;
                    padding: 0.9rem 4.4rem;
                }
                @media(max-width: 440px) {
                    padding: 0.9rem 3rem;
                }
                @media(max-width: 320px) {
                    padding: 1rem 5.6rem;
                }
            }
            .item_img_sale {
                border-radius: 0.2rem;
                background-color: #ea5c5c;
                color: #fef4f4;
                font-family: $Roboto;
                font-size: 12px;
                position: absolute;
                left: 0;
                top: 0;
                margin-top: 12.5px;
                margin-left: 25.5px;
                &_new {
                    background-color: #ffb128;
                }
                span {
                    padding: 0rem 0.5rem;
                }
            }
        }
        .slider__text {
            text-align: center;
            &__stamp {
                margin-top: 3.8rem;
                color: #222222;
                font-size: 14px;
                font-family: $Roboto;
                @media(max-width: 991px) {
                    margin-top: 0;
                }
            }
            .customers_review_star {
                padding-bottom: 1rem;
            }
        }
        &__price {
            color: #222222;
            font-size: 14px;
            font-family: $Roboto;
        }
    }
    .count__content_main {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 1rem;
        @media(max-width: 440px) {
            flex-direction: column;
        }
        .grouped_start__button {
            margin-top: 0.4rem;
        }
        .count__content_timer {
            display: flex;
            align-items: center;
            @media(max-width: 440px) {
                margin-bottom: 1rem;
                flex-direction: column;
            }
            .count__text {
                margin-right: 1.3rem;
                font-size: 20px;
                color: #2a2b2e;
                text-transform: uppercase;
                font-weight: 500;
                @media(max-width: 440px) {
                    text-align: center;
                }
            }
            .count__text__subtitle {
                font-size: 15px;
                color: #999999;
                font-weight: 500;
                text-transform: none;
                @media(max-width: 440px) {
                    margin-bottom: 1rem;
                }
            }
            #timer {
                margin-top: 0.4rem;
                display: flex;
                font-family: $Roboto;
                font-size: 14px;
                color: #999;
                letter-spacing: -1px;
                .timer_value {
                    margin-right: 0.2rem;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    .value {
                        align-items: center;
                        display: flex;
                        justify-content: center;
                        text-align: center;
                        background: #d7b8b8;
                        height: 24px;
                        width: 43px;
                        font-weight: 500;
                        border-top-left-radius: 3px;
                        border-top-right-radius: 3px;
                    }
                    .title_day {
                        border-bottom-left-radius: 3px;
                        border-bottom-right-radius: 3px;
                        font-weight: 500;
                        text-transform: none;
                        font-family: $Roboto;
                        font-size: 14px;
                        color: #ffffff;
                        background: #845d5d;
                        height: 24px;
                        width: 43px;
                        padding-top: 1px;
                        text-align: center;
                    }
                }
            }
            #timer span {
                font-family: $Roboto;
                font-size: 14px;
                color: #ffffff;
                text-transform: none;
            }
            #timer span:first-child {
                margin-left: 0;
            }
        }
    }
}

.carousel-cell {
    // width: 28%;
    border-radius: 5px;
    // counter-increment: carousel-cell;
}

.customers_review {
    padding-bottom: 1rem;
}