//ИСПРАВЛЕННАЯ ВЕРСИЯ
.header__search {
    padding-bottom: 33px;
    padding-top: 37px;
    &_supermart {
        display: flex;
        img {
            width: 49px;
            height: auto;
        }
    }
    &__title {
        padding-left: 6px;
        font-size: 26px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.3rem;
        font-size: 26px;
        font-family: "Oswald", sans-serif;
        color: #050505;
        ;
    }
    &_main {
        margin-left: 1.5rem;
        display: flex;
        &:focus {
            outline: none;
        }
        @media(max-width: 1199px) and (min-width: 992px) {
            margin-left: 0;
        }
    }
    &__input {
        border-top-left-radius: 3px;
        border: 1px solid #e8e8e8;
        border-bottom-left-radius: 3px;
        padding: 0 1rem;
        height: 100%;
        width: 513px;
        &:focus {
            outline: none;
            overflow: none;
        }
        &::placeholder {
            font-size: 12px;
        }
        @media(max-width: 1199px) and (min-width: 992px) {
            margin-left: -95px;
        }
    }
    &__btn {
        margin-left: -4px;
        border-bottom-right-radius: 4px;
        border-top-right-radius: 4px;
        height: 100%;
        border: 0;
        background-color: $yelloy;
        width: 48px;
        &:focus {
            outline: none;
            box-shadow: 1px 1px 9px 3px rgba(242, 196, 95, 1);
        }
    }
    &__item {
        border-radius: 3px;
        display: flex;
        border: 1px solid #e8e8e8;
    }
    &__img {
        border-right: 1px solid;
        display: flex;
        align-items: center;
        padding: 12px;
        color: #e8e8e8;
        &:hover {
            color: #e8e8e8;
            background: #ffe7e7;
        }
        &:focus {
            background: #d8b0b0;
            outline: none;
        }
    }
    &__text {
        display: flex;
        align-items: center;
        padding: 0 16px;
        font-size: 12px;
        font-family: $Roboto;
        font-weight: 400;
        a {
            padding-left: 4px;
            color: #fc6666;
            &:hover {
                text-decoration: none;
            }
        }
    }
    &__col {
        margin-top: -7px;
        justify-content: space-between;
        display: flex;
    }
    .header__line {
        &_usd {
            margin-right: 10px;
        }
    }
}