                        .visit__block {
                            margin-bottom: 83px;
                            margin-top: 78px;
                            &__title {
                                line-height: 29px;
                                margin-left: 3px;
                                margin-bottom: 7px;
                                font-family: $Relawey;
                                font-weight: 600;
                                font-size: 24px;
                                color: #222222;
                            }
                            &__text {
                                margin-top: 11px;
                                margin-left: 3px;
                                span {
                                    font-family: $Roboto;
                                    font-size: 15px;
                                    color: #555555;
                                    font-weight: 400;
                                }
                                p {
                                    font-family: $Roboto;
                                    font-size: 14px;
                                    color: #989898;
                                    font-weight: 400;
                                }
                                .text_pw {
                                    margin-top: 13px;
                                    margin-left: 7px;
                                    @media(max-width: 991px) {
                                        margin-top: 18px;
                                    }
                                    p {
                                        line-height: 1.6;
                                    }
                                }
                                .text_span {
                                    margin-top: -5px;
                                    margin-left: 3px;
                                    @media(max-width: 991px) {
                                        margin-top: 22px;
                                    }
                                }
                            }
                            &__content {
                                @media(max-width: 991px) {
                                    text-align: center;
                                    padding-top: 50px;
                                    text-align: left;
                                    br {
                                        display: none;
                                    }
                                }
                                @media(max-width: 600px) {
                                    text-align: left;
                                    br {
                                        display: none;
                                    }
                                }
                            }
                            .img_primer {
                                @media(max-width: 991px) {
                                    text-align: center;
                                    padding-top: 0;
                                    width: 100%;
                                }
                                @media(max-width: 1199px) and (min-width: 992px) {
                                    width: 100%;
                                }
                            }
                            .btn_grey {
                                margin-top: 13px;
                                margin-left: 3px;
                                width: 136px;
                                height: 47px;
                                background-color: #eeeeee;
                                text-transform: uppercase;
                                font-size: 12px;
                                color: #222222;
                                border: 1px solid #eeeeee;
                                font-weight: 600;
                                border-right: none;
                                border-bottom: none;
                                @media(max-width: 991px) {
                                    display: flex;
                                    justify-content: center;
                                    margin: auto;
                                    margin-top: 50px;
                                }
                            }
                        }