@import "~flickity/css/flickity";
@import "~bootstrap/scss/bootstrap";
@import "colors.scss";
$fa-font-path: "node_modules/@fortawesome/fontawesome-free/webfonts" !default;
@import "node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
$Relawey: 'Raleway',
sans-serif;
$Roboto: 'Roboto',
sans-serif;
@media (min-width: 1200px) {
    .container-xl,
    .container-lg,
    .container-md,
    .container-sm,
    .container {
        max-width: 1170px;
    }
}

@import "header.scss";
@import "seach.scss";
@import "header__menu.scss";
@import "page__title.scss";
@import "visit__block.scss";
@import "advantages.scss";
@import "number.scss";
@import "people.scss";
@import "slide.scss";
@import "advantage.scss";
@import "submit.scss";
@import "footer.scss";
@import "header_small.scss";